.w3-theme-l5 {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-l4 {color:#000 !important; background-color:#b7fff8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#6efff1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#26ffe9 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00dcc6 !important}
.w3-theme-d1 {color:#fff !important; background-color:#008578 !important}
.w3-theme-d2 {color:#fff !important; background-color:#00766a !important}
.w3-theme-d3 {color:#fff !important; background-color:#00685d !important}
.w3-theme-d4 {color:#fff !important; background-color:#005950 !important}
.w3-theme-d5 {color:#fff !important; background-color:#004a43 !important}

.w3-theme-light {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-dark {color:#fff !important; background-color:#004a43 !important}
.w3-theme-action {color:#fff !important; background-color:#004a43 !important}

.w3-theme {color:#fff !important; background-color:#0009AB !important}
.w3-text-theme {color:#0009AB !important}
.w3-border-theme {border-color:#0009AB !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#009688 !important}
.w3-hover-text-theme:hover {color:#009688 !important}
.w3-hover-border-theme:hover {border-color:#009688 !important}

.theme-blacksmith {color:#fff !important; background-color:#231F20 !important}
.theme-coppersmith {color:#fff !important; background-color:#EE7C0E !important}
.theme-silversmith {color:#fff !important; background-color:#A0A5A9 !important}
.theme-tools {color:#fff !important; background-color:#84B817 !important}
.theme-brewing {color:#fff !important; background-color:#F3A9BB !important}
.theme-whisky {color:#fff !important; background-color:#B36305 !important}
.theme-bags {color:#fff !important; background-color:#00A4A7 !important}
.theme-clothes {color:#fff !important; background-color:#95CDBA !important}
.theme-leather {color:#fff !important; background-color:#6950A1 !important}
